<!DOCTYPE html>
<html ng-app="app">
<head>
  <link href="style/main.css" rel="stylesheet" type="text/css">
  <link href="style/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="style/styles.css" rel="stylesheet" type="text/css">
  <link type="text/css" rel="stylesheet" href="style/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="style/ng-grid.css">
  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/jquery-ui-1.10.4.custom.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/flow.js"></script>
	<script src="js/fusty-flow.js"></script>
	<script src="js/fusty-flow-factory.js"></script>
	<script src="js/app.js"></script>
	<script src="js/ng-flow.js"></script>
  <script src="js/ng-grid-2.0.11.js"></script>
  <!-- <script src="js/main.js"></script> -->

  <script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
  </script>
</head>
<body ng-modules="app, myGridApp">
<h3>
<a name="gallery-example" class="anchor" href="#gallery-example"><span class="octicon octicon-link"></span></a>Gallery upload</h3>
<div flow-init
     flow-files-submitted="$flow.upload()"
     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
  <div class="drop" flow-drop ng-class="dropClass">
    <span class="btn btn-default" flow-btn>Upload Image</span>
    <span class="btn btn-default" flow-btn flow-directory ng-show="$flow.supportDirectory">Upload Folder of Images</span>
    <b>OR</b>
    Drag And Drop your images here
  </div>

  <br/>

  <div>

    <ul id="sortable">
      <li ng-repeat="file in $flow.files" class="gallery-box">
        <div>
          <span class="title">{{file.name}}</span>
            <div class="thumbnail" ng-show="$flow.files.length">
              <img flow-img="file" />
            </div>
            <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
              <div class="progress-bar" role="progressbar"
                   aria-valuenow="{{file.progress() * 100}}"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   ng-style="{width: (file.progress() * 100) + '%'}">
                <span class="sr-only">{{file.progress()}}% Complete</span>
              </div>
            </div>
            <div class="btn-group">
              <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                Remove
              </a>
            </div>
        </div>
      </li>
        <div class="clear"></div>
    </ul>
  </div>

</div>
<div  class="btn btn-xs btn-danger save">Save</div>
<div style="height: 10px"></div>
<!-- Index Grid -->
<!-- <section>
<div ng-controller = "GridCtrl">
  <div class="gridStyle" ng-grid="gridOptions">
  </div>
</div>
</section> --?
<!-- End Index Grid -->
<script>
 $(document).ready(function(){
  debugger;
  $('#sortable').sortable({
    start: function(event, ui){
      var start_pos = ui.item.index();
      ui.item.data('start_pos',start_pos);
      console.log("Start_pos: " + start_pos);
      console.log("UI: " + ui.item.value);

      if (start_pos == 0){
        console.log("Index0, get html()... " + $('li.div.span.title').html());
      }
    },
    change: function(event,ui){
      var start_pos = ui.item.data('start_pos');
      var index = ui.placeholder.index();
      console.log("Change: start_pos: " + start_pos + " Index: " + index);

      /*if(start_pos < index){
        $('#sortable li:nth-child(' + index + ')').html(index-2);
      }
      else{
        $('#sortable li:eq(' + (index+1) + ')').html(index+1);
      }*/
    },
    update:function(event,ui){
      var index = ui.item.index();
      var start_pos = ui.item.data('start_pos');
      console.log("Update: Index: " + index + " start_pos: " + start_pos);

      //update the html of the moved item to the current index
      /*$('#sortable li:nth-child(' + ( index+1 ) + ')').html(index);

      if(start_pos < index){
        //update the items before teh re-ordered item
        for(var i = index; i>0; i--){
          $('#sortable li:nth-child(' + i + ')').html(i-1);
        }
      }
      else{
        //update the items after the re-ordered item
        for(var i = index+2; i <= $("#sortable li").length; i++){
          $('#sortable li:nth-child(' + i + ')').html(i-1);
        }
      }*/
    },
    //axis: 'y'
  });


if ($('li').is(":visible")){
  $('div.save').show();
}
else{
  $('div.save').hide();
}

function GetFileName(){
var index = ui.item.index();

};

}); 
</script>
</body>
</html>