.btn-file{
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file]{
  /*content:"\2b";
  font-family: "Glyphicons Halflings";
  background: url('../img/glyphicons-halflings.png') no-repeat -96px -72px; */
  line-height: 1;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: inline-block;
}

.features {
    float: right;
    width: 300px;
    padding-left: 20px;
}
.features .heading {
    font-size: 14px;
    font-weight: bold;
}

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}
.drop.drag-over {
    background: #5CB85C;
    color: #fff
}
.transfer-box {
    margin-bottom: 5px;
}
.transfer-box .progress {
    margin-bottom: 0;
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    overflow: hidden;
    word-break: normal;
}
.thumbnail img {
    max-width: 150px;
    max-height: 100px;
}

.gallery-box {
    width: 150px;
    padding: 5px;
    margin: 7px;
    float: left;
    min-height: 150px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 125px;
    width: 125px;
}
.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}
#sortable { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 460px;
}
#sortable li {
  margin: 3px 3px 3px 0;
  padding: 1px;
  float: left;
  /*width: 100px;
  height: 100px;*/
  font-size: 1em;
  text-align: center;
}
.grid{
  position: absolute;
  background-color: inherit;
  border: 1px solid inherit;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  z-index: -1; 
  padding: 5px;
}
.gridStyle{
    border: 1px solid rgb(212,212,212);
    width: 1000px;
    height: 500px;
}
.indexTest{
  border: 1px solid black;
}

.index-test .index0{
  border: 1px dashed red;
}

.index-test .index1{
  border: 1px dashed green;
}

.index-test .index2{
  border: 1px dashed blue;
}